<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RubyBackTest</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   <div class="form">
    <h1>Escolha seu destino!</h1>
    <%= form_tag cities_path, method: :get, class: "search-form" do %>
      <%= label_tag :state, "Estados:" %>
      <%= select_tag :state, options_for_select(State.pluck(:name).uniq, params[:state]), prompt: "Selecione um estado", required: true, class: "input" %>

      <%= label_tag :name_part, "Cidade:" %>
      <%= text_field_tag :name_part, params[:name_part], class: "input", placeholder: "Escolha uma cidade do seu estado" %>

      <%= submit_tag "Procurar", class: "submit-button" %>
    <% end %>
   </div>
  </body>
</html>
